{{ define "footer" }}
<div class="row mt-3">
    <div class="col"></div>
        <div class="col-12 d-flex flex-row-reverse">
            <a href="https://www.vecteezy.com/vector-art/2099715-mountain-beautiful-landscape-background-vector-design-illustration" class="ms-2" target="_blank">Used Image</a>
            <a href="https://github.com/hinagithub/go-todo-app-sample" class="ms-2" target="_blank">GitHub</a>
            <p>copyright hina. </p>
            
        </div>
    <div class="col"></div>
</div>
<script type="text/javascript" src="/assets/js/main.js"></script>
</div>
</body>
</html>
{{ end }}