{{template "header" .}}

<!-- modal end -->
<div class="row">
  <div class="col-xs-10">
    <div class="card" style="">
      <img src="/assets/image/main.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h5 class="card-title">TODO sample</h5>
          </div>
          <div class="col-9">
            <p class="card-text">Go言語の勉強のために作ってみたTODOリスト</p>
          </div>
          <div class="col-3">
            <button
              id="add-btn"
              type="button"
              class="btn text-nowrap btn-sm text-decoration-underline"
            >
              Add item
            </button>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        {{range $n, $item := .Data}}
        <li class="list-group-item">
          <div class="row">
            {{if $item.Completed}}
            <div class="col-9 text-secondary">{{$item.Body}}</div>
            <div class="col-3">
              <button id="complete-btn" class="btn btn-primary btn-sm" type="submit" disabled>
                complete
              </button>
            </div>
            {{else}}
            <div class="col-9">{{$item.Body}}</div>
            <div class="col-3">
              <button class="btn btn-primary btn-sm" type="submit" onclick="update('{{$item.ID}}', true, '{{$item.Body}}')">
                complete
              </button>
            </div>
            {{end}}
          </div>
        </li>
        {{end}}
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Code (GitHub)</a>
        <a href="#" class="card-link">Another</a>
      </div>
    </div>
  </div>
</div>
{{template "footer" .}}
